.grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 300px;

  height: 300px;

  align-items: center;
  justify-content: space-between;
  background-color: #4c4d4f;
  border-radius: 25px;

  .title {
    text-align: center;
    padding: 5px;
    max-width: 150px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cart {
    padding: 0;

    .price {
      text-align: center;
      padding: 5px;
    }

    .buttons {
      margin: 5px;
      width: 180px;
      display: flex;
      justify-content: space-between;

      .count {
        text-align: center;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
